.header {
  position: sticky;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 16px 24px;
  align-items: center;
  border-bottom: 1px solid #333;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.nav-right button {
  background: none;
  color: white;
  border: none;
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}