.side-menu {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 200px;
   background-color: #040b14; /* 어두운 네이비 느낌 */
  color: white;
  padding: 20px;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  font-family: 'Arial Black', sans-serif;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 8px 10px;
  color: white;
  transition: background-color 0.2s;
  position: relative;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0px;       /* 선의 시작 위치 */
  right: 50px;      /* 선의 끝 위치 */
  bottom: 0;
  height: 1px;
  background-color: #777;
}

.menu-item:last-child::after {
  border-bottom: none; /* 마지막 항목엔 선 없도록 */
}

.arrow {
  font-size: 16px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: none; /* 배경 제거 */
  border: none;     /* 테두리 제거 */
  outline: none;    /* 포커스 테두리 제거 */
  z-index: 1001;
}