/* 블러 오버레이 */
.blur-overlay {
  position: absolute;
  top: 60px; /* 상단바 높이만큼 내려줌 */
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  pointer-events: none;
}
