/* project/IronmanView/src/styles/ExerciseSearch.css */

.exercise-search-wrapper {
  background-color: #000;
  min-height: 100vh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exercise-search-header {
  text-align: center;
  margin-bottom: 12px;
}

.exercise-search-header h2 {
  font-size: 18px;
  font-weight: normal;
}

.search-bar {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.exercise-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
  max-width: 500px;
  align-items: center;
}

.exercise-item {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 16px 20px;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.exercise-item.selected {
  border: 2px solid #b2ff00;
}

.exercise-item:hover {
  background-color: #b2ff00;
}

.exercise-name {
  font-weight: bold;
  font-size: 15px;
}

.exercise-part {
  font-size: 14px;
  color: #ccc;
}

/* 버튼 영역 */
.exercise-button-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
}

.exercise-back-button,
.exercise-save-button {
  flex: 1;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.exercise-back-button {
  background-color: white;
  color: black;
}

.exercise-save-button {
  background-color: #ccff00;
  color: black;
}

.exercise-save-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.exercise-back-button:hover {
  background-color: #e61616;
  color: white;
}

.exercise-save-button:hover {
  background-color: #a5cc00;
  color: white;
}
