/* project/IronmanView/src/styles/FilterTag.css */
.filter-tag {
    background-color: #fbd157;
    color: black;
    padding: 4px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  
  .remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  