.routine-detail-wrapper {
  background: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.routine-detail-container {
  background: #111;
  color: white;
  width: 100%;
  max-width: 430px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.routine-detail-header {
  margin-bottom: 10px;
}

.routine-detail-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.routine-description {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 20px;
  line-height: 1.5;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exercise-card {
  background: #222;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercise-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.exercise-info img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 6px;
}

.exercise-name {
  font-size: 16px;
  font-weight: bold;
}

.exercise-target {
  font-size: 12px;
  color: #aaa;
}

.save-btn {
  margin-top: 24px;
  background: #d7fb07;
  border: none;
  padding: 14px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 10px;
}

.button-row button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.back-button {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
}

.save-button {
  background-color: #d7fb07;
  color: black;
<<<<<<< HEAD
=======
}
.routine-name-input {
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  outline: none;
>>>>>>> 8dda8c4bf7fd7ce37b70fe92f556514fc6270d6b
}